{% extends 'base.html' %}

{% block title %}Connexion Sous-Admin{% endblock %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black shadow">
          <div class="card-body p-md-5 mx-md-4">

            <h1 class="text-center mb-4">Connexion </h1>

            <form method="POST" novalidate>
              {% csrf_token %}

              {% for field in form %}
                <div class="form-outline mb-4">
                  <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label|default:"Nom du champ" }}
                  </label>

                  {% if field.field.widget.input_type == "select" %}
                    {{ field }}
                  {% else %}
                    <input 
                      type="{{ field.field.widget.input_type }}" 
                      name="{{ field.name }}" 
                      id="{{ field.id_for_label }}" 
                      class="form-control {% if field.errors %}is-invalid{% endif %}" 
                      placeholder="Votre {{ field.label|lower }}" 
                      value="{{ field.value|default_if_none:'' }}">
                  {% endif %}

                  {% if field.errors %}
                    <div class="invalid-feedback d-block mt-1">
                      {% for error in field.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}

              <div class="text-center pt-1 mb-3">
                <button 
                  class="btn btn-gradient btn-lg btn-block px-5 py-3" 
                  type="submit">
                  <i class="fas fa-sign-in-alt"></i> Se connecter
                </button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
